<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nexus_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Mercury Ice</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseControlFont</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.3048" newVersion="3.0.3.3048" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.8" newVersion="10.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.437" newVersion="5.2.1.437" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.WinForms" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3967.48" newVersion="1.0.3967.48" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3967.48" newVersion="1.0.3967.48" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Nexus_Launcher.Properties.Settings>
      <setting name="MinimizeOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSteam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowEpic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowEA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowGOG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowUbisoft" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowParadox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowXbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowWindowsStore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBattleNet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAmazon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowWargaming" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SidePanelRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideEANotice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultLauncher" serializeAs="String">
        <value>Nexus Launcher</value>
      </setting>
      <setting name="ViewType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RootDisplayMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="StartSteam" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartXbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartEpic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartBattleNet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartEA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartGOG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartUbisoft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartLaunchers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Setup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="steamPath" serializeAs="String">
        <value />
      </setting>
      <setting name="epicPath" serializeAs="String">
        <value />
      </setting>
      <setting name="battlenetPath" serializeAs="String">
        <value />
      </setting>
      <setting name="eaPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ubisoftPath" serializeAs="String">
        <value />
      </setting>
      <setting name="gogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="enableFullLibrary" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UIFont" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
    </Nexus_Launcher.Properties.Settings>
  </userSettings>
</configuration>