<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Audio" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Controls" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Controls.Audio" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Controls.Imaging" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net48" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net48" />
  <package id="AdamsLair.WinForms" version="1.1.18" targetFramework="net48" />
  <package id="AdamsLair.WinForms.PopupControl" version="1.0.1" targetFramework="net48" />
  <package id="Afx.Forms.Controls" version="8.2.13" targetFramework="net48" />
  <package id="Codeer.Friendly" version="2.7.0" targetFramework="net48" />
  <package id="Codeer.Friendly.Windows" version="2.18.0" targetFramework="net48" />
  <package id="Codeer.Friendly.Windows.Grasp" version="2.16.0" targetFramework="net48" />
  <package id="Codeer.TestAssistant.GeneratorToolKit" version="3.15.0" targetFramework="net48" />
  <package id="CommunityToolkit.Mvvm" version="8.4.2" targetFramework="net48" />
  <package id="DiscordRichPresence" version="1.6.1.70" targetFramework="net48" />
  <package id="GroupControls" version="1.9.0" targetFramework="net48" />
  <package id="Interop.IWshRuntimeLibrary" version="1.0.1" targetFramework="net48" />
  <package id="Magick.NET.Core" version="14.16.0" targetFramework="net48" />
  <package id="Magick.NET-Q8-AnyCPU" version="14.16.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.11" targetFramework="net48" />
  <package id="Microsoft.PowerShell.SDK" version="7.6.5" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.4129.50" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net48" />
  <package id="Ong.Friendly.FormsStandardControls" version="2.25.0" targetFramework="net48" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net48" />
  <package id="QLM.QlmControls" version="20.0.26232.1" targetFramework="net48" />
  <package id="QLM.QlmLicenseLib" version="20.0.26232.1" targetFramework="net48" />
  <package id="ReaLTaiizor" version="3.8.2.1" targetFramework="net48" />
  <package id="Rebex.Common" version="8.0.9709" targetFramework="net48" />
  <package id="Rebex.Terminal" version="8.0.9709" targetFramework="net48" />
  <package id="Rebex.Terminal.Control" version="8.0.9709" targetFramework="net48" />
  <package id="Serilog" version="4.4.0" targetFramework="net48" />
  <package id="Serilog.Formatting.Compact" version="3.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="7.0.0" targetFramework="net48" />
  <package id="SharpCompress" version="0.50.4" targetFramework="net48" />
  <package id="SourceGear.sqlite3" version="3.53.4" targetFramework="net48" />
  <package id="SQLite" version="3.53.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="3.0.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.config.e_sqlite3" version="3.0.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="3.0.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="3.53.3" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="3.0.5" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="3.0.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.11" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.11" targetFramework="net48" />
  <package id="System.DirectoryServices.AccountManagement" version="10.0.11" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.11" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="10.0.11" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.11" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="10.0.11" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="10.0.11" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="10.0.11" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.11" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.11" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.11" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
  <package id="ZedGraph" version="5.2.1" targetFramework="net48" />
</packages>